@font-face {
    font-family: chunkFive;
    src: url(http://www.unhackathon.org/fonts/chunkfive-webfont-webfont.woff);
}

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
}

body {
	font-family: montserrat, arial, verdana;
	background-size: cover;
}

#logo {
    width: 160px;
    height: 160px;
    background-size: 100px 100px;
    background-color: #cc0000;
    position: fixed;
    left: 20px;
    top: 20px;
    color: #f8f8f8;
    color:white;
    padding: 8px;
    font-size: 12px;
    z-index: 1;
}

#logo > .name {
    font-size: 37px;
    line-height: 34px;
    font-family: chunkFive;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.chunk-five {
    font-family: chunkFive;
}

.top {	
    height:100vh;
    min-height: 650px;
    background-image: url("http://www.unhackathon.org/img/background.jpg");
    background-size: 100vw;
    background-position: center 0px;
    padding-top: 67px;
    position: relative;
}


